<footer class="byu-footer">
    <div class="footer-content">
      <a href="https://www.byu.edu/" class="footer-title">BRIGHAM YOUNG UNIVERSITY</a>
      <p class="footer-text">Provo, UT 84602, USA | <a href="tel:+18014224636" class="footer-phone">801-422-4636</a> |
        © {{ currentYear }} All rights reserved.
      </p>
      <div class="footer-links">
        <a href="https://privacy.byu.edu/privacy-notice">Privacy Notice</a> |
        <a href="https://privacy.byu.edu/cookie-prefs">Cookie Preferences</a>
      </div>
    </div>
  </footer>
  